<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913019675808-fl4qojjngsmk4b64k83tcqds9itpn8go.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913019675808-fl4qojjngsmk4b64k83tcqds9itpn8go</string>
	<key>API_KEY</key>
	<string>AIzaSyAyTz6dlA62t_43Au6qPU0i_rm2zlY7RSo</string>
	<key>GCM_SENDER_ID</key>
	<string>913019675808</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MJA.FireStorageBasic</string>
	<key>PROJECT_ID</key>
	<string>firestoragebasic-a9cf0</string>
	<key>STORAGE_BUCKET</key>
	<string>firestoragebasic-a9cf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913019675808:ios:9181b6807352023f4b15c5</string>
</dict>
</plist>