<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165524415801-1o66hdp3njsgunurnofd2jss58rcfh2j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165524415801-1o66hdp3njsgunurnofd2jss58rcfh2j</string>
	<key>API_KEY</key>
	<string>AIzaSyAO0Nm3TFF0cRHdU1Y6Qw8O4qz7QJf_mpY</string>
	<key>GCM_SENDER_ID</key>
	<string>165524415801</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MJA.AuthUIExample</string>
	<key>PROJECT_ID</key>
	<string>authui-basic</string>
	<key>STORAGE_BUCKET</key>
	<string>authui-basic.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165524415801:ios:1ed6854b5d02d01c0d74e8</string>
</dict>
</plist>