<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813060213810-jdotkfu0obnf71lagpi37mbkm1c3dm8t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813060213810-jdotkfu0obnf71lagpi37mbkm1c3dm8t</string>
	<key>API_KEY</key>
	<string>AIzaSyDVk32Mlmejb3niU3_dHleyZZlMT4-qJW0</string>
	<key>GCM_SENDER_ID</key>
	<string>813060213810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.MJA.FrieStoreBasic</string>
	<key>PROJECT_ID</key>
	<string>firestore-basic-b0686</string>
	<key>STORAGE_BUCKET</key>
	<string>firestore-basic-b0686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813060213810:ios:d86fa163fc5ae226c6002b</string>
</dict>
</plist>